/* style.css */

.odd {
    font-family: Verdana, Dejavu-Sans, sans-serif;
    background-color:rgb(200,100,100);
}

#two {
    color: #2674c2;
    font-size: 36px;
}

.oddly-cool {
    font-size: 24px;
}

#four {
    background-color:#009900;
    font-size: 24px;
    font-weight: bold;
}