body {
    background: #eee;
    font-family: sans-serif;
  }
  
  .card {
    width: 400px;
    background: #fff;
    margin:-30px auto;
    padding:10px;
  }
  
  .title {
    background: #e3f4ff;
    border-color:white;
    padding:10px;
    margin-bottom:10px;
  }
  
  .content {
    background: #e3f4ff;
    padding:10px;
  }
  
  .button-container {
    background: #e3f4ff;
    display:block;
    padding:10px;
    text-align:center;
    margin:10px 0px 10px 0px;
    margin-bottom:auto;
  }
  
  button {
    display:block;
    background: white;
    margin:0 auto;
    border: 1px solid #eee;
    padding:8px 20px 8px 20px;
  }